<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo sharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-light is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item is-size-3">
                        Название?
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container is-max-widescreen">
            <div class="columns is-vcentered">
                <div class="column is-three-fifths">
                    <figure class="image is-1by1">
                        <img th:src="@{/static/sample-photo.jpg}">
                    </figure>
                </div>
                <div class="column">
                    <form class="box" th:method="post" th:action="@{/login}">
                        <div class="field">
                            <p class="is-size-2 has-text-centered">Вход</p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input th:name="username" class="input" type="text" placeholder="Имя пользователя">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input th:name="password" class="input" type="password" placeholder="Пароль">
                            </div>
                        </div>

                        <p th:if="${session.get('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                           class="notification is-danger"
                           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                            Error
                        </p>

                        <div class="field">
                            <div class="control">
                                <input class="button is-link is-fullwidth" type="submit" value="Войти">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <a class="button is-fullwidth" th:href="@{/sign-up}">Регистрация</a>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>